node-red-ui.json
[{"id":"47bb7010.44665","type":"tab","label":"Flow 1"},{"id":"8dc58f9e.4c641","type":"mqtt in","z":"47bb7010.44665","name":"bme/temperature","topic":"bme/temperature","qos":"0","broker":"75db718a.0b958","x":140,"y":60,"wires":[["c4f0eff5.e7fb"]]},{"id":"c4f0eff5.e7fb","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":60,"wires":[["955a80ea.114d2"]]},{"id":"955a80ea.114d2","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["31f2e96b.e3508e"]]},{"id":"97130b6b.599fd8","type":"mqtt in","z":"47bb7010.44665","name":"bme/pressure","topic":"bme/pressure","qos":"0","broker":"75db718a.0b958","x":130,"y":140,"wires":[["8c899eb9.423a9"]]},{"id":"8c899eb9.423a9","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["2d52aa0b.915686"]]},{"id":"672153ad.5f268c","type":"ui_chart","z":"47bb7010.44665","name":"","group":"bb839bdf.f4e4f","order":0,"width":"0","height":"0","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":140,"wires":[[],[]]},{"id":"2d52aa0b.915686","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["672153ad.5f268c"]]},{"id":"e170fe0c.88f67","type":"mqtt in","z":"47bb7010.44665","name":"bme/humidity","topic":"bme/humidity","qos":"0","broker":"75db718a.0b958","x":130,"y":220,"wires":[["4166376d.476d2"]]},{"id":"4166376d.476d2","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["cf646b14.a4e258"]]},{"id":"590aa8aa.6dfbb8","type":"ui_chart","z":"47bb7010.44665","name":"","group":"bb839bdf.f4e4f","order":0,"width":"0","height":"0","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":220,"wires":[[],[]]},{"id":"cf646b14.a4e258","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["590aa8aa.6dfbb8"]]},{"id":"ddf39b67.53f328","type":"mqtt in","z":"47bb7010.44665","name":"ccs/eCO2","topic":"ccs/eCO2","qos":"0","broker":"75db718a.0b958","x":120,"y":300,"wires":[["82f5df7a.a962d8"]]},{"id":"82f5df7a.a962d8","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["e7db1d40.6e8c18"]]},{"id":"f84994fe.47877","type":"ui_chart","z":"47bb7010.44665","name":"","group":"583ba0d7.53b3b8","order":0,"width":"0","height":"0","label":"eCO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":300,"wires":[[],[]]},{"id":"e7db1d40.6e8c18","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["f84994fe.47877"]]},{"id":"7770eb00.d61f04","type":"mqtt in","z":"47bb7010.44665","name":"ccs/tvoc","topic":"ccs/tvoc","qos":"0","broker":"75db718a.0b958","x":120,"y":380,"wires":[["717da477.e7eb6c"]]},{"id":"717da477.e7eb6c","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":380,"wires":[["cdd137a5.486a1"]]},{"id":"78e48126.e1e428","type":"ui_chart","z":"47bb7010.44665","name":"","group":"583ba0d7.53b3b8","order":0,"width":"0","height":"0","label":"TVOC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":380,"wires":[[],[]]},{"id":"cdd137a5.486a1","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["78e48126.e1e428"]]},{"id":"c422fe95.a7f2e","type":"mqtt in","z":"47bb7010.44665","name":"dust","topic":"dust","qos":"0","broker":"75db718a.0b958","x":110,"y":460,"wires":[["c4e322de.adb858"]]},{"id":"c4e322de.adb858","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":460,"wires":[["895278fa.49d4b8"]]},{"id":"3cb25c07.8804ec","type":"ui_chart","z":"47bb7010.44665","name":"","group":"4aac1cf7.a9f9f4","order":0,"width":"0","height":"0","label":"Dust","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":460,"wires":[[],[]]},{"id":"895278fa.49d4b8","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["3cb25c07.8804ec"]]},{"id":"6312fea4.2355f","type":"mqtt in","z":"47bb7010.44665","name":"hcho","topic":"formaldehyde","qos":"0","broker":"75db718a.0b958","x":110,"y":540,"wires":[["6dc871c6.9096a"]]},{"id":"6dc871c6.9096a","type":"json","z":"47bb7010.44665","name":"","property":"payload","action":"","pretty":false,"x":350,"y":540,"wires":[["cce32748.c09158"]]},{"id":"5ab3dd03.f90f54","type":"ui_chart","z":"47bb7010.44665","name":"","group":"dfc7ad79.6b5658","order":0,"width":"0","height":"0","label":"Formaldehyde","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":540,"wires":[[],[]]},{"id":"cce32748.c09158","type":"function","z":"47bb7010.44665","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["5ab3dd03.f90f54"]]},{"id":"31f2e96b.e3508e","type":"ui_chart","z":"47bb7010.44665","name":"","group":"bb839bdf.f4e4f","order":0,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":60,"wires":[[],[]]},{"id":"75db718a.0b958","type":"mqtt-broker","z":"","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"bb839bdf.f4e4f","type":"ui_group","z":"","name":"Default","tab":"917ca344.066498","disp":true,"width":"12","collapse":false},{"id":"583ba0d7.53b3b8","type":"ui_group","z":"","name":"CCS","tab":"917ca344.066498","disp":true,"width":"12","collapse":false},{"id":"4aac1cf7.a9f9f4","type":"ui_group","z":"","name":"Dust","tab":"917ca344.066498","disp":true,"width":"12","collapse":false},{"id":"dfc7ad79.6b5658","type":"ui_group","z":"","name":"Formaldehyde","tab":"917ca344.066498","disp":true,"width":"12","collapse":false},{"id":"917ca344.066498","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
