node-red-ui.json
[{"id":"44db873a.56cb48","type":"tab","label":"BME","disabled":false,"info":""},{"id":"9c13d3f3.155c3","type":"tab","label":"HPMA","disabled":false,"info":""},{"id":"e595ef62.4d11a","type":"tab","label":"BSEC","disabled":false,"info":""},{"id":"fe32a345.efb0c","type":"mqtt-broker","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"84a2b1e6.5a114","type":"mqtt-broker","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"75db718a.0b958","type":"mqtt-broker","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"66bc44e1.3ff15c","type":"mui_tab","name":"Air quality","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ebfc4a4.b5b944","type":"ui_tab","name":"BSEC","icon":"dashboard","order":"1"},{"id":"202ba880.4dbbf8","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"12a8d3ff.cc4084","type":"ui_tab","name":"HPMA","icon":"dashboard","order":"1"},{"id":"b6abaaf2.42874","type":"ui_tab","name":"BME","icon":"dashboard","order":"1"},{"id":"9cfbc3fc.903518","type":"mqtt in","z":"44db873a.56cb48","name":"bme/temperature","topic":"bme/temperature","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":140,"y":100,"wires":[["1d3d46d5.f841c1"]]},{"id":"1d3d46d5.f841c1","type":"json","z":"44db873a.56cb48","name":"","property":"payload","action":"","pretty":false,"x":350,"y":100,"wires":[["80984c4f.81c31"]]},{"id":"80984c4f.81c31","type":"function","z":"44db873a.56cb48","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["93299fe3.07a2c"]]},{"id":"f8e55f70.0f03a","type":"mqtt in","z":"44db873a.56cb48","name":"bme/pressure","topic":"bme/pressure","qos":"0","broker":"84a2b1e6.5a114","x":130,"y":180,"wires":[["631f77db.92d2d8"]]},{"id":"631f77db.92d2d8","type":"json","z":"44db873a.56cb48","name":"","property":"payload","action":"","pretty":false,"x":350,"y":180,"wires":[["43bcd725.a0b3d"]]},{"id":"43bcd725.a0b3d","type":"function","z":"44db873a.56cb48","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["7c0259da.6715f8"]]},{"id":"3ab70c40.1d4fec","type":"mqtt in","z":"44db873a.56cb48","name":"bme/altitude","topic":"bme/altitude","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":260,"wires":[["688197d8.249bb8"]]},{"id":"688197d8.249bb8","type":"json","z":"44db873a.56cb48","name":"","property":"payload","action":"","pretty":false,"x":350,"y":260,"wires":[["8f9e8094.688c28"]]},{"id":"8f9e8094.688c28","type":"function","z":"44db873a.56cb48","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["24718a.78f37676"]]},{"id":"624c9150.cde288","type":"mqtt in","z":"44db873a.56cb48","name":"bme/gas","topic":"bme/gas","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":120,"y":340,"wires":[["bbd735f8.2fb84"]]},{"id":"bbd735f8.2fb84","type":"json","z":"44db873a.56cb48","name":"","property":"payload","action":"","pretty":false,"x":350,"y":340,"wires":[["79ee07f6.11ed48"]]},{"id":"79ee07f6.11ed48","type":"function","z":"44db873a.56cb48","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["f0ab318d.2c0e2"]]},{"id":"98ba15c6.01c2f","type":"mqtt in","z":"44db873a.56cb48","name":"bme/humidity","topic":"bme/humidity","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":420,"wires":[["554eba48.ccf624"]]},{"id":"554eba48.ccf624","type":"json","z":"44db873a.56cb48","name":"","property":"payload","action":"","pretty":false,"x":350,"y":420,"wires":[["e5647157.d9d07"]]},{"id":"e5647157.d9d07","type":"function","z":"44db873a.56cb48","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["1be0a3a.6f4e85c"]]},{"id":"888c3a91.85e1","type":"mqtt in","z":"9c13d3f3.155c3","name":"hpma/pm25","topic":"hpma/pm25","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":60,"wires":[["e333ded5.22e0d8"]]},{"id":"e333ded5.22e0d8","type":"json","z":"9c13d3f3.155c3","name":"","property":"payload","action":"","pretty":false,"x":350,"y":60,"wires":[["d3b141c4.e7268"]]},{"id":"d3b141c4.e7268","type":"function","z":"9c13d3f3.155c3","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["b8a061cc.f4f468"]]},{"id":"6e3f98f1.f90ca","type":"mqtt in","z":"9c13d3f3.155c3","name":"hpma/pm10","topic":"hpma/pm10","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":140,"wires":[["fd1eecf9.1023d8"]]},{"id":"fd1eecf9.1023d8","type":"json","z":"9c13d3f3.155c3","name":"","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["48292187.34863"]]},{"id":"48292187.34863","type":"function","z":"9c13d3f3.155c3","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["85d4a26e.3411a8"]]},{"id":"96c03078.79e42","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/iaq","topic":"bsec/iaq","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":120,"y":60,"wires":[["7f29da1d.2cf58c"]]},{"id":"7f29da1d.2cf58c","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":60,"wires":[["aab8de38.fd1668"]]},{"id":"aab8de38.fd1668","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["57c12ee3.68b75"]]},{"id":"1a66c9ac.18cc16","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/temperature","topic":"bsec/temperature","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":140,"y":140,"wires":[["8aa09c32.bcbf28"]]},{"id":"8aa09c32.bcbf28","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["a62fdc86.b3be38"]]},{"id":"a62fdc86.b3be38","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["651541f5.264ad8"]]},{"id":"aeff8b6c.9b8e8","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/humidity","topic":"bsec/humidity","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":220,"wires":[["1465bf81.4b637"]]},{"id":"1465bf81.4b637","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["38910cba.c2c224"]]},{"id":"38910cba.c2c224","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["5ea59ec0.5742e"]]},{"id":"e4d23f05.06732","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/pressure","topic":"bsec/pressure","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":300,"wires":[["b2dbde3.128452"]]},{"id":"b2dbde3.128452","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["a8f1d986.bdebb8"]]},{"id":"a8f1d986.bdebb8","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["b0788c0b.1726a"]]},{"id":"3f6b5c0.80e32a4","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/gas","topic":"bsec/gas","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":120,"y":380,"wires":[["23fc845f.a9f8cc"]]},{"id":"23fc845f.a9f8cc","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":380,"wires":[["daac4ac.65b7838"]]},{"id":"daac4ac.65b7838","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["af0120a1.d11348"]]},{"id":"b6c9a3de.52d3e8","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/iaq_static","topic":"bsec/iaq_static","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":140,"y":460,"wires":[["fbce524a.5979"]]},{"id":"fbce524a.5979","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":460,"wires":[["54a8a502.f8379c"]]},{"id":"54a8a502.f8379c","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["835ac26.160184"]]},{"id":"e5ca6323.cfbaa","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/CO2e","topic":"bsec/CO2e","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":120,"y":540,"wires":[["3a0562c7.e9fdbe"]]},{"id":"3a0562c7.e9fdbe","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":540,"wires":[["cf36f26e.6b8d28"]]},{"id":"cf36f26e.6b8d28","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["de3bac6f.0b367"]]},{"id":"f483da5f.a1f038","type":"mqtt in","z":"e595ef62.4d11a","name":"bsec/VOCe","topic":"bsec/VOCe","qos":"0","datatype":"auto","broker":"84a2b1e6.5a114","x":130,"y":620,"wires":[["ca15d817.c738a8"]]},{"id":"ca15d817.c738a8","type":"json","z":"e595ef62.4d11a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":620,"wires":[["866ac896.f05d7"]]},{"id":"866ac896.f05d7","type":"function","z":"e595ef62.4d11a","name":"plot","func":"var data = msg.payload\nmsg = {topic : data.currName, payload : data.currValue, timestamp : data.currTime}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["62952f20.303ae8"]]},{"id":"57c12ee3.68b75","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/iaq","group":"IAQ","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":700,"y":60,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["iaq",""]},{"id":"651541f5.264ad8","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/temperature","group":"Temperature","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":730,"y":140,"wires":[[],[]]},{"id":"5ea59ec0.5742e","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/humidity","group":"Humidity","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":720,"y":220,"wires":[[],[]]},{"id":"b0788c0b.1726a","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/pressure","group":"Pressure","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":720,"y":300,"wires":[[],[]]},{"id":"af0120a1.d11348","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/gas","group":"Gas","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":700,"y":380,"wires":[[],[]]},{"id":"835ac26.160184","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/iaq_static","group":"IAQ static","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":720,"y":460,"wires":[[],[]]},{"id":"de3bac6f.0b367","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/CO2e","group":"CO2 equivalent","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":540,"wires":[[],[]]},{"id":"62952f20.303ae8","type":"ui_chart","z":"e595ef62.4d11a","tab":"4ebfc4a4.b5b944","name":"bsec/VOCe","group":"VOC equivalent","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":620,"wires":[[],[]]},{"id":"b8a061cc.f4f468","type":"ui_chart","z":"9c13d3f3.155c3","tab":"12a8d3ff.cc4084","name":"hpma/pm25","group":"PM 25","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":60,"wires":[[],[]]},{"id":"85d4a26e.3411a8","type":"ui_chart","z":"9c13d3f3.155c3","tab":"12a8d3ff.cc4084","name":"hpma/pm10","group":"PM 10","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":140,"wires":[[],[]]},{"id":"93299fe3.07a2c","type":"ui_chart","z":"44db873a.56cb48","tab":"b6abaaf2.42874","name":"bme/temperature","group":"Temperature","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":730,"y":100,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["Temperature",""],"info":"jkgkhg"},{"id":"7c0259da.6715f8","type":"ui_chart","z":"44db873a.56cb48","tab":"b6abaaf2.42874","name":"bme/pressure","group":"Pressure","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":720,"y":180,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["Pressure",""]},{"id":"24718a.78f37676","type":"ui_chart","z":"44db873a.56cb48","tab":"b6abaaf2.42874","name":"bme/altitude","group":"Altitude","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":260,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["Pressure",""]},{"id":"f0ab318d.2c0e2","type":"ui_chart","z":"44db873a.56cb48","tab":"b6abaaf2.42874","name":"bme/gas","group":"Gas","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":700,"y":340,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["gas",""]},{"id":"1be0a3a.6f4e85c","type":"ui_chart","z":"44db873a.56cb48","tab":"b6abaaf2.42874","name":"bme/humidity","group":"Humidity","order":1,"interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"604800","x":710,"y":420,"wires":[[],[]],"inputLabels":["t"],"outputLabels":["humidity",""]}]
